.containerHero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.containerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.callToAction {
  position: relative;
  top: 50%;
  left: 20%;
  width: 100%;
  height: 100%;
  transform: translate(-20%, -50%);
  font-size: 4vw;

  .cta-text {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 50%;
    color: #A7EEB6;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.8));
  }

  .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    border-radius: 40px;
    border: 2px solid rgba($color: #000000, $alpha: 0.8);
  }
}

@media screen and (max-width: 700px) {
  .hero-image {
    height: 65vh;
    width: 100vw !important;
    object-fit: cover;
  }

  .cta-text {
    top: 65% !important;
    left: 50% !important;
    transform: translate(-50%, -65%) !important;
    text-align: center;
    width: 80% !important;
    font-size: 8vw;
  }

  .btnLink {
    width: 30vw;
    padding: 2vw;
    left: 50%;
    transform: translateX(-50%) !important;

    &:nth-child(0) {
      background-color: red !important;
    }
  }
}
